<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Home</title>
</head>
<body>
    <h2>Hi..Welcome </br> You are Employee</h2>
    <form>
        <a href="#">Add new Job</a>
        
    </form>
    
</body>
</html>